.edh-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.edh-text-name {
  font-size: 15px;
  font-weight: 500;
}

.edh-text-job {
  font-size: smaller;
}

.edh-text-contact {
  font-size: smaller;
}

.edh-employee-card {
  border-radius: 4px;
  max-width: 385px;
  max-height: 1000px;
  margin-top: 100px;
  padding: 0;

  .mat-card-image {
    margin: 0;
    width: 11em;
  }

  .edh-employee-card-content {
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      // max-width: 40%;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}
