.hbr-employees__filters {
  width: 20em;
  flex-shrink: 0;
  padding-left: 1em;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hbr-employees__filters {
    position: absolute;
    right: 0;
    top: 0;
  }
}
