<app-employee-personal-info></app-employee-personal-info>

<app-employee-category [categoryName]="'Proyectos'" [categoryList]="['item1', 'item2', 'item3']"
  [savedItems]="['item1']">
</app-employee-category>

<app-employee-category [categoryName]="'Certificaciones'" [categoryList]="['item1', 'item2', 'item3']"
  [savedItems]="['item1']">
</app-employee-category>

<app-employee-category [categoryName]="'Tecnologías'" [categoryList]="['item1', 'item2', 'item3']"
  [savedItems]="['item1']">
</app-employee-category>