<app-layout [title]="'Ficha'">
  <div *ngIf="employee">
    <app-employee-personal-info
      *ngIf="!isEditionMode"
      [employee]="employee"
      [editable]="isAdmin"
      (edit)="goToPrincipalInfoEdition($event)"
    >
    </app-employee-personal-info>
    <app-employee-personal-form
      *ngIf="isEditionMode"
      [employee]="employee"
      (edited)="managePrincipalInfoEdition($event)"
    >
    </app-employee-personal-form>

    <app-employee-category
      [categoryName]="'Proyectos'"
      [categoryList]="projects"
      [savedItems]="employee?.projects"
      [editable]="isAdmin"
      (categoryChanges)="updateProjects($event)"
    >
    </app-employee-category>

    <app-employee-category
      [categoryName]="'Certificaciones'"
      [categoryList]="certifications"
      [savedItems]="employee?.certifications"
      [editable]="isAdmin"
      (categoryChanges)="updateCertifications($event)"
    >
    </app-employee-category>

    <app-employee-category
      [categoryName]="'Tecnologías'"
      [categoryList]="skills"
      [savedItems]="employee?.skills"
      [editable]="isAdmin"
      (categoryChanges)="updateSkills($event)"
    >
    </app-employee-category>
  </div>
</app-layout>
