
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.kt-custom-mat-input {
  width: 100% !important;
}

.kt-selection-cursor {
  cursor: pointer;
}

.kt-title-color {
  color: #153963;
}